<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>

    <form th:action="@{/users/save}" method="post" th:object="${user}" style="max-width: 400px; margin: 0 auto; background: darkgray">
        <input type="hidden" th:field="*{id}"/>
        <div class="border border-secondary rounded-3 p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Vezetéknév</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{firstName}" class="form-control" minlength="2" maxlength="15"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Keresztnév</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{lastName}" class="form-control" minlength="2" maxlength="15"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">E-mail</label>
                <div class="col-sm-8">
                    <input type="email" th:field="*{email}" class="form-control" required minlength="10" maxlength="30"/>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn-primary m-2">Mentés</button>
                <button type="button" class="btn-secondary m-2" onclick="cancelForm()">Mégse</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm(){
        window.location="[[@{/users}]]"
    }
</script>
</body>
</html>